body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: aliceblue;
}

.new{
    display: flex;
    padding: 5%;
    background-image: url(wave.svg);
    background-repeat: no-repeat;
}
.half-width{
   width: 50%; 
}
.link{
  text-decoration: none; 
  padding: 10px 50px;
  background-color: aqua;
  border-radius: 10px;
  background-image: linear-gradient(blue,blueviolet); 
  color: aliceblue;
  font-weight: 700;
}
span{
    color: aliceblue;
}
.about-me{
    background-image: none;
    display: flex;
}
#arafat{
    border-radius: 180%;
}
.special{
    text-align: center;
    padding: 0% 20%;
}
.parent{
    display: flex;
    padding:0% 10%;
     

}
.child{
     box-shadow: 10px 5px 40px black;
     margin: 2%;
     padding: 50px;
     border-radius: 0px 20px 50px 0px;
     border-left: 5px solid rgb(64, 64, 133)}

 footer{
    text-align: center;
 }    